div{
    height: 75%;
    overflow: auto;
  }

.addExpression{
    position: absolute;
    top: 100px;
    right: 20px;
  }

.searchExpression{
    position: absolute;
    top: 140px;
    right: 20px;
  }
