div{
    height: 75%;
    overflow: auto;
  }

  .addNewGroup{
    position: absolute;
    top: 100px;
    right: 20px;
  }

  .addWordToGroup{
    position: absolute;
    top: 130px;
    right: 20px;
  }